main{
    padding: 80px;
}

td,th{
    text-align: center;
}


.modal {
    text-align: center;
    padding: 0!important;
} 
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog {
    height: 65%;
}
.modal-content {
    height: 75%;
}

button{
    box-shadow: 0 3px 7px 0 rgba(14, 14, 14, 0.1), 0 5px 19px 0 rgba(12, 12, 12, 0.1);
}