
body{
    /*background-color: #96C7C1;*/
    background-color:white;
    margin-top:40px;
    font-family:cursive;
}
.background{
    background-image:url("background-image22.jpg")
}
h1{
    color:blue;
    font-family:cursive;
}
h3{
    color:blue;
    font-family:cursive;
}
h4{
    color:blue;
    font-family:cursive;
}

/*img:hover{
    background-color:red;
}
*/
/* class selectors */

#heading{
    color:blue;
    text-align: center;
    font-family:cursive,sans-serif;
    font-size: 50px;
}

.list1{
   border-radius:100%;
   width:1330px;
   height: 500px;
}
.title{
    background-color:#D3E4CD;
    width: 1330px;
}
.home_aboutus{
    background-color: #D3E4CD;
}
div{
    color:#544179;
}
.heading1_contact_us{
    background-color: rgba(250, 247, 234, 0.979);
}
.food_donation1{
    border-radius: 100%;
}
.zero_hunger{
    border-radius:10%;
    height: 300px;
}
#ourvision{
    text-align:center;
    
    
}
#our_mission{
    text-align:center;
}
#our_mission_index{
    font-size:18px;
    font-family:cursive;
}
p{
    font-size:18px;
    font-family:cursive;
}
#about_us_part1{
    font-size:30px;
}
#donate_food_index{
    height:250px;
    width:350px;
}
#no_food_waste{
    height:250px;
    width:350px;
}
#index_lastpart{
    width:1350px;
    height:500px;
    background-color:#0F2C67;
}
.span1{
    background-color:red;
    color:white;
    border:black;
}
.sustainable_development{
    
    /*position: relative;*/
    height:300px;
    width:300px;
    display:inline-block;
}
.donate_food_index{
    
    /*position: relative;*/
    display:inline-block;
}
.top_image_zerohunger{
    
    /*position: relative;*/
    display:inline-block;
    
}
.span2{
    background-color:red;
    color:white;
    position:relative;
    right:10px;
    border:black;
    border-width: 30px;
}
.background{
    background-color:aliceblue;
}
.background_part_2_home{
    
    
    background-color:#F4E185;
}
.form{
    background-color:#F4E185;
}
.login_and_register{
    background-color:rgb(188, 198, 207);
}